In [16]:
import pandas as pd

In [17]:
train_val_df = pd.read_csv(
    "./data/cyrillic-handwriting-dataset/train.tsv",
    sep="\t",

).drop(columns="Unnamed: 0")
test_df = pd.read_csv(
    "./data/cyrillic-handwriting-dataset/test.tsv",
    sep="\t",
    header=None,
    names=["file_name", "text"],
)
train_val_df.head()

    file_name               text
0     aa1.png            Молдова
1  aa1007.png  продолжила борьбу
2   aa101.png      разработанные
3  aa1012.png              Плачи
4  aa1013.png        Гимны богам

In [18]:
# Так как нет информации о тексте в двух фотографиях, удалим их.
train_val_df[train_val_df.isna().any(axis=1)]

Empty DataFrame
Columns: [file_name, text]
Index: []

In [ ]:
# Также проверим test на наличие NaN
test_df[test_df.isna().any(axis=1)]

Empty DataFrame
Columns: [file_name, text]
Index: []

In [19]:
train_val_df=train_val_df.dropna()
train_val_df[train_val_df.isna().any(axis=1)]

Empty DataFrame
Columns: [file_name, text]
Index: []

In [22]:
train_val_df.to_csv(
    "./data/cyrillic-handwriting-dataset/train.tsv", sep="\t", index=False
)
test_df.to_csv("./data/cyrillic-handwriting-dataset/test.tsv", sep="\t", index=False)